node-red/flows.json
[{"id":"1d829ea0.e10a21","type":"tab","label":"bysinaps","disabled":false,"info":""},{"id":"30cbe221.98c4ce","type":"inject","z":"1d829ea0.e10a21","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":240,"wires":[["9531a87.25d7c58"]]},{"id":"7a8f48ef.5781c8","type":"function","z":"1d829ea0.e10a21","name":"select Publish messages","func":"if (msg.payload.search(\"Publish\") > 0)\n    return msg;","outputs":1,"noerr":0,"x":170,"y":320,"wires":[["9ae6beb2.d9672"]]},{"id":"9531a87.25d7c58","type":"file in","z":"1d829ea0.e10a21","name":"traffic.csv","filename":"/home/ataei/traffic.csv","format":"lines","chunk":false,"sendError":false,"x":200,"y":280,"wires":[["7a8f48ef.5781c8"]]},{"id":"77a57409.7a999c","type":"csv","z":"1d829ea0.e10a21","name":"make js class on payload","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":750,"y":200,"wires":[["ad8fee93.412ca"]]},{"id":"b5bfcf96.dd7d2","type":"function","z":"1d829ea0.e10a21","name":"select HEX payload","func":"if (msg.payload.search(\"7b22\") > 0){\n    var strLen = msg.payload.length;\n    msg.payload = msg.payload.substring(msg.payload.search(\"7b22\"), strLen);\n    return msg;\n}","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["51470d27.6a6824"]]},{"id":"51470d27.6a6824","type":"function","z":"1d829ea0.e10a21","name":"hex2string","func":"msg.payload = Buffer.from(msg.payload, 'hex').toString();\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["77a57409.7a999c"]]},{"id":"ad8fee93.412ca","type":"change","z":"1d829ea0.e10a21","name":"","rules":[{"t":"change","p":"payload.col2","pt":"msg","from":" value: ","fromt":"str","to":"field1=","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":240,"wires":[["6e531725.c8c298"]]},{"id":"6e531725.c8c298","type":"delay","z":"1d829ea0.e10a21","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"21","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":120,"wires":[["900dc232.258d5"]]},{"id":"9ae6beb2.d9672","type":"switch","z":"1d829ea0.e10a21","name":"Topic selection","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"factory/department1/section1/plc","vt":"str"},{"t":"cont","v":"factory/department3/section3/plc","vt":"str"},{"t":"cont","v":"factory/department1/section1/hydraulic_valve","vt":"str"},{"t":"cont","v":"factory/department3/section3/hydraulic_valve","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":420,"y":140,"wires":[["b5bfcf96.dd7d2"],["b5bfcf96.dd7d2"],["6118b075.79c32"],["6118b075.79c32"]]},{"id":"9f6652d8.079c2","type":"csv","z":"1d829ea0.e10a21","name":"make js class on payload","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":790,"y":340,"wires":[["9b625388.8bb86"]]},{"id":"c017a38b.6e827","type":"function","z":"1d829ea0.e10a21","name":"hex2string","func":"msg.payload = Buffer.from(msg.payload, 'hex').toString();\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":380,"wires":[["9f6652d8.079c2"]]},{"id":"9b625388.8bb86","type":"change","z":"1d829ea0.e10a21","name":"","rules":[{"t":"change","p":"payload.col2","pt":"msg","from":" value: ","fromt":"str","to":"field2=","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":300,"wires":[["6e531725.c8c298"]]},{"id":"6118b075.79c32","type":"function","z":"1d829ea0.e10a21","name":"select HEX payload","func":"if (msg.payload.search(\"7b22\") > 0){\n    var strLen = msg.payload.length;\n    msg.payload = msg.payload.substring(msg.payload.search(\"7b22\"), strLen);\n    return msg;\n}","outputs":1,"noerr":0,"x":630,"y":420,"wires":[["c017a38b.6e827"]]},{"id":"f48dde1d.f9f3a","type":"mqtt out","z":"1d829ea0.e10a21","name":"Channel ","topic":"channels/1066981/publish/CETVDOE3ZF9YPMPF","qos":"","retain":"","broker":"3d2da4bf.409c4c","x":1100,"y":200,"wires":[]},{"id":"7c5a95d4.2307fc","type":"debug","z":"1d829ea0.e10a21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":160,"wires":[]},{"id":"900dc232.258d5","type":"function","z":"1d829ea0.e10a21","name":"","func":"msg.payload = msg.payload.col2\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":160,"wires":[["f48dde1d.f9f3a","7c5a95d4.2307fc"]]},{"id":"3d2da4bf.409c4c","type":"mqtt-broker","z":"","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]