node-red/nodes.txt
[{"id":"3c7fa0ad.33c2a","type":"tab","label":"bysinaps","disabled":false,"info":""},{"id":"f550c58d.8491c8","type":"inject","z":"3c7fa0ad.33c2a","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":240,"wires":[["ca3878b4.7bdba8"]]},{"id":"1daa8e0f.2ffca2","type":"function","z":"3c7fa0ad.33c2a","name":"select Publish messages","func":"if (msg.payload.search(\"Publish\") > 0)\n    return msg;","outputs":1,"noerr":0,"x":170,"y":320,"wires":[["a09bbfa.392f34"]]},{"id":"ca3878b4.7bdba8","type":"file in","z":"3c7fa0ad.33c2a","name":"traffic.csv","filename":"/home/ataei/traffic.csv","format":"lines","chunk":false,"sendError":false,"x":200,"y":280,"wires":[["1daa8e0f.2ffca2"]]},{"id":"174dbae.cb18f45","type":"csv","z":"3c7fa0ad.33c2a","name":"make js class on payload","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":750,"y":200,"wires":[["fe40359a.75bd38"]]},{"id":"a7977eda.0fd94","type":"function","z":"3c7fa0ad.33c2a","name":"select HEX payload","func":"if (msg.payload.search(\"7b22\") > 0){\n    var strLen = msg.payload.length;\n    msg.payload = msg.payload.substring(msg.payload.search(\"7b22\"), strLen);\n    return msg;\n}","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["94eeac64.85c5e"]]},{"id":"94eeac64.85c5e","type":"function","z":"3c7fa0ad.33c2a","name":"hex2string","func":"msg.payload = Buffer.from(msg.payload, 'hex').toString();\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["174dbae.cb18f45"]]},{"id":"fe40359a.75bd38","type":"change","z":"3c7fa0ad.33c2a","name":"","rules":[{"t":"change","p":"payload.col2","pt":"msg","from":" value: ","fromt":"str","to":"field1=","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":240,"wires":[["5c16042e.da8d2c"]]},{"id":"5c16042e.da8d2c","type":"delay","z":"3c7fa0ad.33c2a","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"21","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":120,"wires":[["d647b1f.9656e5"]]},{"id":"a09bbfa.392f34","type":"switch","z":"3c7fa0ad.33c2a","name":"Topic selection","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"factory/department1/section1/plc","vt":"str"},{"t":"cont","v":"factory/department3/section3/plc","vt":"str"},{"t":"cont","v":"factory/department1/section1/hydraulic_valve","vt":"str"},{"t":"cont","v":"factory/department3/section3/hydraulic_valve","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":420,"y":140,"wires":[["a7977eda.0fd94"],["a7977eda.0fd94"],["a7172e87.2a288"],["a7172e87.2a288"]]},{"id":"f5b122aa.17729","type":"csv","z":"3c7fa0ad.33c2a","name":"make js class on payload","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":790,"y":340,"wires":[["a88b8e95.e1f2"]]},{"id":"17ffe3d1.760adc","type":"function","z":"3c7fa0ad.33c2a","name":"hex2string","func":"msg.payload = Buffer.from(msg.payload, 'hex').toString();\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":380,"wires":[["f5b122aa.17729"]]},{"id":"a88b8e95.e1f2","type":"change","z":"3c7fa0ad.33c2a","name":"","rules":[{"t":"change","p":"payload.col2","pt":"msg","from":" value: ","fromt":"str","to":"field2=","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":300,"wires":[["5c16042e.da8d2c"]]},{"id":"a7172e87.2a288","type":"function","z":"3c7fa0ad.33c2a","name":"select HEX payload","func":"if (msg.payload.search(\"7b22\") > 0){\n    var strLen = msg.payload.length;\n    msg.payload = msg.payload.substring(msg.payload.search(\"7b22\"), strLen);\n    return msg;\n}","outputs":1,"noerr":0,"x":630,"y":420,"wires":[["17ffe3d1.760adc"]]},{"id":"9315d0a9.12e61","type":"mqtt out","z":"3c7fa0ad.33c2a","name":"Channel ","topic":"channels/1066981/publish/CETVDOE3ZF9YPMPF","qos":"","retain":"","broker":"d64c94b.1524368","x":1100,"y":200,"wires":[]},{"id":"e5663943.6fde58","type":"debug","z":"3c7fa0ad.33c2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":160,"wires":[]},{"id":"d647b1f.9656e5","type":"function","z":"3c7fa0ad.33c2a","name":"","func":"msg.payload = msg.payload.col2\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":160,"wires":[["9315d0a9.12e61","e5663943.6fde58"]]},{"id":"d64c94b.1524368","type":"mqtt-broker","z":"","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]